/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

/* Header */
header {
    background-color: #b3d5a1; /* Warna sage muda/telur asin */
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Burger Menu Icon */
.burger {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.burger .line {
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 4px 0;
    transition: 0.4s;
}

.burger.active .line1 {
    transform: rotate(45deg);
    margin: 0;
}

.burger.active .line2 {
    opacity: 0;
}

.burger.active .line3 {
    transform: rotate(-45deg);
    margin: 0;
}

#menu-label {
    margin-left: 10px;
    font-size: 16px;
}

/* Menu Styling */
nav#menu {
    background-color: #ffffff;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 60px;
    width: 25%; /* Lebar menu */
    height: calc(100vh - 60px); /* Full height except header */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: none; /* Initially hidden */
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    padding: 10px 0;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

/* Show Menu */
.show-menu {
    display: block; /* Tampilkan menu ketika toggle diklik */
}

/* Form Styles */
form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    margin: 10px 0 5px;
}

input[type="text"], input[type="email"], input[type="password"], select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

input[type="submit"] {
    background-color: #b3d5a1; /* Warna sage muda/telur asin */
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #9bc886; /* Warna hover */
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer img {
    width: 50px;
    cursor: pointer;
}

/* Responsive Styles */
@media (max-width: 768px) {
    nav#menu {
        width: 100%;
        top: 60px;
        left: 0;
    }
}
