/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f4f8;
}

header {
    background-color: #AAC4C1; /* Sage muda */
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.burger {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.burger-icon {
    font-size: 24px;
    margin-right: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    margin: 10px 0;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

/* Form Styling */
.login-form {
    max-width: 400px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-group label {
    margin-bottom: 5px;
    font-size: 14px;
}

.form-group input, select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #6EBF8B; /* Sage */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #5da778;
}

/* Footer Styling */
footer {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

.footer-logo {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

/* Burger Menu */
.hide-menu {
    display: none;
}
nav#menu {
    background-color: #ffffff;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 60px;
    width: 25%;
    height: calc(100vh - 60px); /* Full height except header */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

nav ul {
    flex-direction: column;

}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }
}
